.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2.5rem;
  font-weight: bold;
}
.logoImg {
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  cursor: pointer;
}
.logoImg:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
.trendPick:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
.trendPick {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
/* Hamburger button */
.hamburger {
  display: none; /* Desktop gizle */
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  gap: 5px;
}

.bar,
.barActive {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 2px;
}

/* Menü linkleri */
.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Responsive kısmı */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(228, 146, 45, 1);
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    padding: 20px;
    gap: 15px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(211, 9, 9, 0.1);
    border: 2px solid rgb(182, 180, 180);
  }

  .navLinks.open {
    display: flex;
  }

  .logoImg {
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
  }
  .trendPick{
    font-size: 2rem;
  }
}
